<footer>
  <div class="social-footer">
    <i
      class="fa-brands fa-instagram"
      style="font-size: 2rem; margin-right: 2rem"
    ></i
    ><i
      class="fa-brands fa-facebook"
      style="font-size: 2rem; margin-right: 2rem"
    ></i
    ><i
      class="fa-regular fa-envelope"
      style="font-size: 2rem; margin-right: 2rem"
    ></i>
  </div>
  <div class="copyright">@ Shop well</div>
  <div class="termcondition">
    <a href="" style="color: white; text-decoration: none"
      >Terms And condition</a
    >
  </div>
</footer>
